html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {

}

.page {

}

.container {
    max-width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

h1,
h2,
h3,
p,
ul {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
}